
.body {
  background-color: orange;
  font-size: 60px;
  color: black;
  text-align: middle;
}
p {
  color: red;
  background-color: black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

body {
  color: green;
  font-size: 80px;
  text-align: middle;
}

#greenWords {
  color: green;
  text-align: middle;
  
}